@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cor-primaria: #2B2B2B;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #7F4CA5;
    --cor-hover: #272727;

    --fonte-primaria: "Do Hyeon", sans-serif;
    --fonte-secundaria: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.nome-destaque {
    color: var(--cor-terciaria);
}

.destaque-back {
    color: var(--cor-terciaria);
}

h1 {
    color:  var(--cor-secundaria);
}

header {
    background-color: none;
    color: var(--cor-terciaria);
}

p {
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao-projetos {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
} 

.apresentacao-conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao-conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao-conteudo-texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao-conteudo-projeto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.rodape {
    padding: 25px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    gap: 15px;
}

.dev {
    color: var(--cor-secundaria);
}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.apresentacao-links-subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao-links-botao {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--fonte-secundaria);
    padding: 16px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao-links-botao:hover {
    background-color: var(--cor-hover);
}

.cabecalho {
    padding: 5% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--cor-terciaria);
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.cabecalho-link {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.perfil {
    max-width: 100%;
    height: auto; 
    width: 300px; 
    object-fit: cover;
}

.imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.linguagem-logo {
    max-width: 100%;
    height: auto; 
    width: 300px; 
    object-fit: cover;
}

.programadora-imagem {
    max-width: 100%;
    height: auto; 
    width: 300px; 
    object-fit: cover;
}

.imagem-projetos {
    display: grid; /* Define o elemento como um grid */
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas iguais */
    gap: 10px; /* Espaçamento entre as imagens */
    padding: 20px;
  }
  
.imagem-projetos img {
    max-width: 100%; /* A imagem nunca será maior que a coluna */
    height: auto; /* Ajusta a altura automaticamente para manter o aspecto da imagem */
    object-fit: cover; /* A imagem cobre toda a área da coluna */
  }

.imagem-projetos a {
    text-decoration: none;
  }

.descricao-projeto {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 0.875rem;
    font-weight: 400;
}

@media (max-width:1200px) {
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho-menu {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-projetos {
        flex-direction: column;
        padding: 10%;
        gap: 10%
    }
    .apresentacao-conteudo {
        width: auto;
    }
    
    .imagem-projetos {
        display: flex; /* Usando Flexbox para o layout vertical */
        flex-direction: column; /* Organize os elementos verticalmente */
        gap: 20px; 
        padding: 10%; 
    }
}

@media (max-width: 760px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}